// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: red;
$light-blue: #1CA9FF;
$dark-blue: #004DE5;
$yellow: #FDB631;
$orange: rgb(235, 90, 7);
$green: #32B796;
$grey: #C3C1C1;
$light-grey: #f1f1f1;
$dark-grey: #707070;
$background-grey: #F9F9F9;
