// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");


// Define fonts for body and headers
$logo-font: 'Audiowide', 'cursive';
$body-font: 'Roboto', 'sans-serif';
$lato-font: 'Lato', sans-serif;
