<div class="banner">
  <div class="banner_content">
    <div class="main_content">
      <%= image_tag('gimily_white.svg', alt: 'gimily_title') %>
      <h3>Tag your friends and buy things together</h3>
      <form class="search_bar" action="/">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search any objects online" name="search">
      </form>
    </div>
    <div class="retailer_content">
      <p>Are you a retailer? Get verified and connect with our Community.</p>
      <button type="submit">Get in touch with our team</i></button>
    </div>
  </div>
</div>
