<div class="content-container">
  <div class="banner-content">
    <div class="main-search">
      <form class="search_bar" action="/">
        <button type="submit"><%= image_tag('Search_loupe.png', alt: 'search') %></button>
        <input type="text" placeholder="Search for Articles" name="search">
      </form>
    </div>
    <div class="main-text">
      <div class="main-title">
        <h1>Reinvent your online shopping experience
        <br>
        <h2>COMPARE ITEMS BETWEEN WEBSITES</h2>
        <h2>SPEAK WITH PREVIOUS BUYERS</h2>
        <h2>BUY THINGS IN GROUP EASILY</h2>
      </div>
    </div>

    <!-- <div class="retailer_content">
      <p>Are you a retailer? Get verified and connect with our Community.</p>
      <button type="submit">Get in touch with our team</i></button>
    </div> -->
  </div>
</div>

