<div class="wrapper">
  <% if !signed_in? %>
    <div class="banner">
       <%= render "shared/bannerhome" %>
    </div>
  <% end %>
  <div class="home-container">
    <%= render "shared/all_items" %>
  </div>

</div>
