/* Main navbar */
.navbar-gimily {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 45px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
.navbar-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo */
.brand img {
  height: 35px;
}

/* User Avatar */


/* Right section */

/* Sign in section */
.navbar-sign-in{
  display: flex;
}
.email-input{
  padding: 3px;
  border-radius: 2px;
  border: 1px solid $light-gray;
  outline: none;
  color: black;
  font-size: 11px;
  height: 18px;
  width: 150px;
}
.pwd-input{
  padding: 3px;
  margin-left: 10px;
  border-radius: 2px;
  border: 1px solid $light-gray;
  outline: none;
  color: black;
  font-size: 11px;
  height: 18px;
  width: 150px;
}
.submit-Log-in{
  padding: 5.4px 18px;
  background-color: $blue;
  font-family: $logo-font;
  color: white;
  font-size: 11px;
  border-radius: 2px;
  margin-left: 10px;
}
.submit-Log-in:hover{
  background-color: #232353;
}
.submit-Register{
  padding: 4.6px 10px;
  background-color: white;
  border: 1px solid $blue;
  font-family: $logo-font;
  color: $blue;
  font-size: 11px;
  border-radius: 2px;
  margin-left: 10px;
}
.submit-Register:hover{
  background-color: #232353;
}
// Placeholder navbar

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-gray;
  font-size: 11px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-gray;
  font-size: 11px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-gray;
  font-size: 11px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $light-gray;
  font-size: 11px;
}
